name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: 'lunexor'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create archive of resource
        run: |
          ARCHIVE_NAME="mm_megaphone-${{ github.ref_name }}.tar.gz"
          tar --exclude='.git' --exclude='.github' -czf "$ARCHIVE_NAME" .
          echo "ARCHIVE_NAME=$ARCHIVE_NAME" >> $GITHUB_ENV

      - name: Create Release
        uses: softprops/action-gh-release@v2.4.2
        with:
          files: ${{ env.ARCHIVE_NAME }}
          body: |
            Release ${{ github.ref_name }}
          draft: false
          prerelease: false
